@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body
{
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;}

html
{
	scroll-behavior: smooth;
}


.hov:hover
{
	color:white;
}
.brand
{
	text-decoration: none !important;
	color:white !important;
}
.navbar-nav
{
	font-size: 19px;
	float:right;
}
.call-action{
	text-transform: uppercase;
	border-radius:50px;
	letter-spacing: 1px;
	transition:all 0.5s ease-in; 
	border:2px solid white;
	margin-top: 60px;
}


.call-action:hover{
	background-color:#2dc997;
	color: white; 
}
.anchor
{ 
	border-radius: 50px; 
	border:2px solid white;
	font-family: monospace;
	font-size: 20px;
	text-transform: uppercase;
	font-weight:400;
	letter-spacing: 2px;
	transition:all 0.5s ease-in;
	color:white;

}

a{
	text-align: center;
}
.anchor:hover{
	background-color: #2dc997;
	color:white; 
}

p{
	text-align: center;
	color:white;
	font-size: 24px;
	margin-top:15px;
}

.head
{
		font-family:"Poppins", sans-serif;
  		font-size: 60px;
  		padding-top: 125px;
  		box-sizing: border-box;
}

.p2{
	color:#757675;
	font-size: 18px;
	text-align: left;
	padding-left: 90px;
	box-sizing: border-box;
}


h5{
	padding-left: 90px;
	box-sizing: border-box;
}

.div2{
	border:2px solid green;
	border-radius: 100px;
	width: 50px;
	height:50px;
	text-align: center;
}

.p3
{
	color:#757675;
	font-size: 16px;
	text-align: left;
	padding-left: 30px;
	box-sizing: border-box;
}

h2,h1
{
	font-size: 24px;
	font-weight: 700;
	animation: text 3s;
	margin-bottom:5px;
	margin-top: 30px;
}

}



.p4{
	font-size: 18px;
}

.p5{font-size: 16px;}
.p6{font-size: 56px;}
.p7{font-size: 17px;
color:#757676;}

.p8{color:black;
	text-align: left;
    font-size: 18px}
.a3{text-decoration: none;
	}

.text{font-size: 34px;}

/* Large Device*/
@media screen and (max-width: 1300px)
{

h1 {	
		font-size:40px !important;
  		box-sizing: border-box;
  		font-weight:500 !important;
  }
  .anchor
{ 
	border-radius: 50px; 
	border:2px solid white;
	font-family: monospace;
	font-size: 20px;
	text-transform: uppercase;
	font-weight:400;
	letter-spacing: 2px;
	transition:all 0.5s ease-in;
	color:white;

}
}
/* Medium Device*/
@media screen and (max-width: 900px)
{

	h1 {font-size: 38px !important;
  		padding-top: 30px;	
}

.call-action{
	text-transform: uppercase;
	border-radius:50px;
	letter-spacing: 1px;
	transition:all 0.5s ease-in; 
	border:2px solid white;
	margin-top: 90px;

}

.anchor
{ 
	border-radius: 50px; 
	border:2px solid white;
	font-family: monospace;
	font-size: 20px;
	text-transform: uppercase;
	font-weight:400;
	letter-spacing: 2px;
	transition:all 0.5s ease-in;
	color:white;

}

}

/*Small Device*/
@media screen and (max-width: 600px)

{

.head{
	font-family:"Poppins", sans-serif;
  		font-size: 30px;
  		padding-top: 135px;
  		box-sizing: border-box;
}

  h1{font-size: 30px;
  		padding-top: 30px;
  		box-sizing: border-box;
  }

.anchor
{ 
	border-radius: 50px;
	border:2px solid white;
	font-family: monospace;
	font-size: 14px;
	text-transform: uppercase;
	font-weight:400;
	letter-spacing: 1px;
}

p{
	text-align: center;
	color:white;
	font-size: 15px;
}

.p2{
	color:#757675;
	font-size: 12px;
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
}



.p8{text-align: left;
    font-size:13px}

.h2c{
	font-size: 26px
}
.call-action{
	text-transform: uppercase;
	border-radius:20px;
	letter-spacing: 1px;
	transition:all 0.5s ease-in; 
	border:2px solid white;
}

.card
{
	margin-left: 10px !important;
}
}


